@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	font-weight: 400;
	background-color: #f2f2f2;
}
ol, ul {
	list-style: none;
}
a:hover {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin:0;
	padding: 0;
}
a:focus {
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #fff;
}
button {
	outline: none;
}
input {
	outline: none;
}
textarea {
	outline: none;
}
section {
	float: left;
	width: 100%;
	position: relative;
}
img {
	float: left;
}
p {
	font-size: 14px;
	line-height: 24px;
	color: #666666;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e5e5e5 !important;
}

/* ================ CROSS BROWSER COMPATABILITY =============== */
img{
	max-width: 100%;
}
.ask-question,
nav,
.notification-box.active,
nav ul li a,
.user-account-settingss.active,
.user-info a,
.suggestion-usd > span i,
.view-more > a,
.tags-sec ul li a,
.post-st ul li a,
.ed-opts > a,
.bk-links li a,
.like-com li a,
.user-profy > a,
.slick-previous:before,
.slick-nexti:before,
.comment > a,
.sign_link > a,
.post-popup,
.post-project > a,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.sign-control li a,
.cover-sec > a,
.star-descp > a,
.message-btn a,
.pf-gallery ul li,
.gallery_pt:before,
.gallery_pt > a,
.overview-box,
.skl-name,
.conv-list,
.save-stngs ul li button,
.forum-links.active,
.react-links li a,
.next-prev > a,
nav ul li:hover > ul,
.user-pro-img > a i {
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}


/* ============== DEFAULT BORDER RADIUS =========== */


.ask-question,
.login_register ul li a,
.search-bar form input,
.search-bar form button,
.search_form form input,
.post-st ul li a,
.post-bar,
.bk-links li i,
.bid_now,
.user-profy ul li a,
.posty,
.comment_box form button,
.post-project-fields form input,
.post-project-fields form textarea,
.post-project-fields form select,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.signin-pop,
.sign-control,
.sign_in_sec form input,
.sign_in_sec form select,
.sign_in_sec form button,
.signup-tab,
.login-resources ul li a,
.flw-hr li a,
.message-btn a,
.user-profile-ov,
.portfolio-gallery-sec,
.overview-edit,
.overview-edit form textarea,
.overview-edit form input,
.overview-edit form select,
.overview-edit button,
.file-submit,
.billing-method,
.lt-sec > a,
.add-billing-method,
.payment_methods form button,
.payment_methods form input,
.company-up-info ul li a,
.search-box form input,
.filter-dd form input,
.filter-dd form select,
.conversation-box,
.save-stngs ul li button,
.cp-field input,
.cp-field textarea,
.accept-req,
.mf-field input,
.mf-field button,
.pagination li .page-link,
.post_comment_sec form textarea,
.post_comment_sec form button,
.next-prev > a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 3px;
}

.wrapper {
	float: left;
	width: 100%;
	position: relative;
}

.overlay:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 99;
}

header {
	float: left;
	width: 100%;
	background-color: #e44d3a;
}
.header-data {
	float: left;
	width: 100%;
}
.logo {
	float: left;
	width: 40px;
	margin-right: 14px;
	margin-top: 10px;
}
.logo.pd-btm {
	padding-bottom: 10px;
}
.forum-bar {
	float: left;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px 0;
}