.forgotPassword-page {
    background-image: url("/public/img/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgotPassword-container {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }
  
  .forgotPassword-content {
    padding: 20px;
    margin-top: 20px;
  }
  
  .forgotPassword-notification {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .forgotError-width {
    width: 100%;
    position: relative;
    max-width: 360px;
    margin: 0 auto;
  }
  .urlSent{
    width: 100%;
    position: relative;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 100px;
  }