.passwordReset-page {
    background-image: url("/public/img/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .passwordReset-container {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }
  
  .passwordReset-content {
    padding: 20px;
    margin-top: 20px;
  }
  
  .passwordReset-notification {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .verifySubmit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
  }
  
  .verifySubmit-btn button {
    margin: 0 40px;
    padding: 10px 20px;
    background-color: #7EA8BE;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .verifySubmit-btn button:hover {
    background-color: #28536B;
  }
  
  .resetError-width {
    width: 100%;
    position: relative;
    max-width: 460px;
    margin: 0 auto;
  }